# Remote Access
# REPLACE THIS WITH YOUR PUBLIC IP OR DOMAIN
PUBLIC_HOST=localhost
PUBLIC_S3_ENDPOINT=http://${PUBLIC_HOST}:9090

# Redpanda
REDPANDA_PORT=19092
REDPANDA_SCHEMA_REGISTRY_PORT=18081
REDPANDA_ADMIN_PORT=19644

# Arroyo
ARROYO_UI_PORT=5115
ARROYO_METRICS_PORT=8001

# QuestDB
QUESTDB_UI_PORT=9000
QUESTDB_ILP_PORT=9009
QUESTDB_PG_PORT=8812

# Storage
POSTGRES_PORT=5432
DB_USER=arroyo
# CHANGE THIS TO A STRONG PASSWORD IN PRODUCTION
DB_PASSWORD=secret_password_placeholder
DB_NAME=arroyo

# MinIO
# CHANGE THESE TO STRONG SECRETS IN PRODUCTION
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=secret_password_placeholder
